.inputveld{
    width: 100%;
    border: solid 5px;
    height: 3em;
    background-color: skyblue;
    margin-top: 0.1em;
    border: solid 3px;
    height: 3em;
    background-color: lightslategray;
}
.knopje{
    padding: 1.1em;
    background-color: red;
    color: white;
    transition: 0.5s;
    
}
.knopje:hover{
    padding-right: 2em;
    cursor: pointer;
    background-color: indianred;
    color: black;
}
.cirkel{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    border: solid;
    margin-top: 2em;
}
.video{
    width: 30em;
    height: 16em;
    position: absolute;
    margin-top: -16em;
    margin-left: 13.4em;
    border: solid;
}
.fotoNaam{
    width: 9em;
    height: 2em;
    margin-left: 2.1em;
    margin-top: 0.5em;
    border: solid;
    text-align: center;
}
.contentBlok{
    width: 100%;
    height: 10em;
    border: solid;
    margin-top: 0.3em;
}
.footer{
    width: 100%;
    height: 10em;
    border: solid;
}